.AdminMain {
	display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.AdminMain .StatsDisplay{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-evenly;
}
